<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- social sharing plugin -->
    <script src="js/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="morningapp" ng-controller="FeedController">

    <!-- <ion-pane>
      <ion-header-bar class="bar-stable">
        <center></center><h1 class="title">Morning App</h1></center>
      </ion-header-bar>
      <ion-content>
      </ion-content>
    </ion-pane> -->

    <ion-side-menus>

    <!-- Center content -->
      <ion-side-menu-content>
        <div class="bar bar-header bar-royal">
          <button class="button button-icon icon ion-navicon"></button>
          <h1 class="h1 title">Today</h1>
            <!-- New Task button-->
          <button class="button button-icon">
            <i class="icon ion-plus-circled"></i>
          </button>
        </div>
        

        <ion-content overflow-scroll='true'>
    <!-- our list and list items -->
          <!-- <ion-scroll direction="y" class="available-scroller"> -->
          <ion-list>
            <ion-item ng-repeat="item in feed">

                  <div class="list card">

                    <div class="item item-avatar">
                      <img src="http://www.google.com/s2/favicons?domain={{item.link}}">
                      <h2>{{item.title}}</h2>
                      <!--<p>{{item.description}}</p>-->
                    </div>

                    <div class="item item-image">
                      <img src="{{item.image}}">
                    </div>

                    <!-- <div class="item item-image">
                      <img style="width:200px; height:auto;" src="{{item.image}}">
                      <p>
                        Monica Lewinsky comes out of the blues yo help people. This is some random text I am typing just to test whether the scroll works better without images.
                      </p>
                    </div> -->

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                          <i class="icon ion-android-favorite"></i>
                          Favourite
                        </a>
                        
                        <a class="tab-item" href="" ng-click="shareViaTwitter('some message', null, 'http://blog.nraboy.com')">
                          <i class="icon ion-android-share-alt"></i>
                          Share
                        </button>
                      </div>

                  </div>

            </ion-item>
          </ion-list>
          <!-- </ion-scroll> -->
        </ion-content>
      
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
          <h1 class="h1 title">Menu</h1>
        </ion-header-bar>
      </ion-side-menu>

    </ion-side-menus>

  </body>
</html>
